body {
    background: cornsilk;
    text-align: center;
  }

#shopList {
    position: relative;
}



#shopList img {
    width: 100%;
    height: 150px;
    display: block;
    opacity: 1; /* Set the initial opacity to 100% */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
    /* Additional styles if needed */
    /* filter: grayscale(0%); Example: Remove grayscale filter */
    margin-bottom: 10px;

}
#shopList img:last-child {
    margin-right: 0; /* Remove margin for the last image */
  }

#shopList img:hover {
    opacity: 0.7; /* Set the opacity on hover to 70% */
    /* filter: grayscale(100%); Example: Apply grayscale filter on hover */
}

#shopDetails img {
    width:auto;
    height:350px;
    margin-top: 20px;
    position: absolute;
      top: 120px;
}

#shopDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


#shopImage {
    max-width: 100%;
}


#dets {
    margin-top: 20px; /* Adjust as needed */
}

#shopNavBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#mainTitle h1{
    font-size: 46px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 100px;
}
#shopList h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the h1 is above the image */
    color: aliceblue;
}

#secondTitle {
    position: absolute;
    top: 5%;
    right: 87%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}